Click==7.0
flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
logging==0.4.9.6
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
pyyaml==5.3.1
six==1.15.0
tensorflow==2.4.0
tensorflow_hub==0.10.0
Werkzeug==1.0.1
wheel==0.36.2