<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<head>
    <title>Flask Template Example</title>
</head>

<body>
    <div>
        <form method="post" action="{{url_for('script_output')}}" enctype="multipart/form-data">
            <p>{{ message }}</p>
            <ul>
                {% for contact in contacts %}
                <div class="block" id="foodlist">
                    <label>{{ contact }}</label>
                    <input type="number" name="Amount" autocomplete="off" placeholder="Count or kg" required />
                    <select id="Count" name="Count">
                        <option value="Piece">Piece</option>
                        <option value="Kg">Kg</option>
                    </select>
                </div>
                {% endfor %}
            </ul>
            <input type="button" id="more_fields" value="Add food" />

            <script>
                var addFieldButton = document.getElementById("more_fields");
                var foodlist = document.getElementById('foodlist')
                var fc_number = 1;

                function add_fields() {
                    fc_number++;
                    var fields = '<div class="block">\n\
                    <input class="input setting-input" name="Food" placeholder="Additional food" type="text" required />\n\
                    <input class="input setting-input" name="Amount" placeholder="Count or kg" type="text" required/>\n\
                    <select id="Count" name="Count"><option value="Piece">Piece</option><option value="Kg">Kg</option></select>\n\
                    </div>';
                    foodlist.insertAdjacentHTML("beforeend", fields);
                }

                addFieldButton.addEventListener("click", add_fields);
            </script>
            <br />
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
</body>

</html>